.mainChat {
  flex: 3;
  border-left: 1px solid #dddddd35;
  display: flex;
  flex-direction: column;
}

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
  flex: 1;
}
.textsMain {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textsMain span {
  font-size: 1rem;
  font-weight: bold;
}

.textsMain p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #a5a5a5;
}
.user-main {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-main img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
/* CENTER______________________________________________________CENTRER */
.center-message {
  padding: 1rem;
  flex: 6;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.message {
   
  max-width: 70%;
  display: flex;
  gap: 1rem;
}

.mine {
   
  align-self: flex-end;
}


.message img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.textsCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.textsCenter p{
    background-color: #3f3e3d;
 padding: 1rem;

 border-radius: .5rem;
}
.mine p{
    background-color: #4b4540;
 padding: 1rem;

 border-radius: .5rem;
}
.textsCenter span{

 font-size: .7rem;
}
/* Bottom_________________________________________________Bottomn */
.bottom {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dddddd35;
  gap: 1rem;
  margin-top: auto;
}

.bottom input {
  flex: 1;
  background-color: rgba(25, 28, 36, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 1.1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;

  &:disabled {
    cursor: not-allowed;
  }
}

.bottom .emoji {
  position: relative;
}
.picker {
  position: absolute;
  bottom: 3.2rem;
  left: 0;
}

.send {
  background: #252523;
  color: #e4e2e2;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  &:disabled {
    background-color: #5182feb4;
    cursor: not-allowed;
  }
}
.send:hover {
  background: #3f3e3d;
}
