.userinfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
.info-user{
    display: block;
    top:0;
}